@import"../../index";

   /*graphical element, scroll bar */
   ::-webkit-scrollbar {
    height: 1rem;
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 6px;
    border-width: 2px;
}

::-webkit-scrollbar-track {
    background-color: $primary-background;
}


@media screen and (min-width: $large) {
/* text component, about text  */
    .about-container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(3, auto);
        background-color: $primary-background;
/* graphical component, photo */
        img {
            grid-column: 1;
            grid-row: 3;
            margin-top: 60px;
            justify-self: center;
            border: 4px solid $tertiary-color;
            border-radius: 4px;
            height: 200px;
            width: 300px;
        }
    }


    .about-section {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .about-text {
        margin-top: 10px;
        color: $secondary-color;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $primary-color;

    }
}

@media screen and (max-width: $large) {
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
/*graphical component, photo */
        img {
            height: 200px;
            width: 300px;
            margin-top: 30px;
            margin-bottom: 20px;
            border: 4px solid $tertiary-color;
            border-radius: 4px;
        }
/* text component, about text */
        .about-section {
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            word-wrap: break-word;
            max-width: 75%;
            h2 {
                color: $primary-color;
            }
            .about-text {
                color: $secondary-color
            }

        }
    }
}