@import"../../index";

   /*graphical element, used scroll bar to adjust size, thumb to round and track to adjust background colour */
   ::-webkit-scrollbar {
    height: 1rem;
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 6px;
    border-width: 2px;
}

::-webkit-scrollbar-track {
    background-color: $primary-background;
}

@media screen and (min-width: $large) {
/*text and graphical component, used display flex to span images across the display, applied margin to create gaps between images, then created borders and adjusted colours and text. added &:hover so that the colour of the image and baclground darkens when hovered over with mouse */
        .link-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-width: 100vw;
     
            .blog-link {
                text-decoration: none;
                text-align: center;
                margin: 5px;
                border: 8px solid $tertiary-color;
                border-radius: 3px;
                background-color: $tertiary-color;

                .img {
                    height: auto;
                    margin: 0 2px;
                    width: 200px;
                    max-height: 200px;
                }

                p {
                    margin: 0;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: bold;
                    color: $secondary-color;
                }
                &:hover {
                    filter: brightness(75%);
                }
            }
        }
    /* text component, used display flex and flex direction column to display posts vertically down the page then created a larger gap between them with gap. used margins to separate from other content sections */ 
        .blog-container {
            display: flex;
            flex-direction: column;
            gap: 350px;
            margin-top: 300px;
            margin-bottom: 150px;
            margin-left: 50px;
     /* text component, used display flex to better position each post */   
            .blog-post {
                display: flex;
                align-items: flex-start;
    /* graphical component, adjusted height and width dimensions to keep the images the same size and in the same position as the screenwidth changes created a border and then adjusted exact position using margin. */
                .blog-post-image {
                    img {
                        max-width: 100%;
                        height: auto;
                        display: block;
                        width: 200px;
                        max-height: 200px;
                        border: 10px solid $primary-color;
                        border-radius: 4px;
                        background-color: $primary-color;
                        margin-right: 25px;
                        margin-top: 26px;
                    }
                }
    /*text component, created borders for all posts, used flex: 1 to ensure the image displays at its actual size, used display flex to display the headings and posts vertically then adjusted colors and fonts. */
                .blog-post-section {
                    border: 3px solid $tertiary-color;
                    border-radius: 4px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
        
                    h2 {
                        color: $primary-color;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        align-self: flex-start;
                    }

                    h4 {
                        color: $tertiary-color;
                        font-family:Verdana, Geneva, Tahoma, sans-serif;
                    }
        
                    .blog-text {
                        
                        color: $secondary-color;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        width: 100%; 
                        text-align: center;
                    }
                }
            }
        }
        
}
@media screen and (max-width: $large) {
    /* for smaller screensizes I used a flex display and centered all content, i also set widths for text to keep the display clear for smaller screen widths. I still used margins to better separate each individual section. */
        main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }
    /* graphical component, I set the anchor links to a grid display as I thought this aesthetic would be a better aesthetic for tablets, created gaps between the images with gap, separated content sections with margin-top and margin-bottom, margin-left ensures the images stay centered as the screenwidth changes, then placed each image separately into their section of the grid to fit the display properly, then created borders, configured colors, and further adjusted sizings. */
        .link-section {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            text-align: center;
            justify-content: center;
            align-content: center;
            gap: 20px;
            margin-bottom: 350px;
            margin-top: 80px;
            max-width: 90%;
            margin-left: 45px;

           

            .blog-link {
                text-decoration: none;
                border: 10px solid $tertiary-color;
                border-radius: 4px;
                max-width: 100%;
                background-color: $tertiary-color;
                justify

                img {
                    max-width: 80%;

                }
    
                p {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: bold;
                    color: $secondary-color;
                    text-align: center;
                }
            }
        }

        .image1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row: 1;
            justify-self: center;
        }

        .image2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row: 1;
            justify-self: center;
        }

        .image3 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row: 1;
            justify-self: center;
        }

        .image4 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row: 2;
            justify-self: center;
        }

        .image5 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row: 2;
            justify-self: center;
        }
    /* text component, set flex display for blog posts and made everyting diplay vertically using flex direction, then configured positioning with justify-content and align-items. */
        .blog-post-section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center; 
        }
    /* adjusted colours and font on headings */
        h2 {
            color: $primary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            align-self: center; 
        }

        h4 {
            color: $tertiary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    /* text component, created borders, centered text, and changed max width for a good aesthetic, also adjusted colors and fonts*/
        .blog-text {
            border: 3px solid $tertiary-color;
            border-radius: 4px;
            color: $secondary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 80%;
            text-align: center; 
        }


        .blog-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .blog-post {
            width: 100%;
            margin-bottom: 200px;
        }
    /*graphical component, set flex display to center the image, then created borders for the images and adjusted the colours */
        .blog-post-image {
            display: flex;
            justify-content: center;
            
            img {
                border: 10px solid $primary-color;
                border-radius: 4px;
            }
        }
    }
   
@media screen and (max-width: $medium) {
/* stuck to the same display flex options as the medium display */
 main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
        }
/* for small displays I used display flex for the link-section so each link would display vertically then used justify-content to center them, used text align to center the text in the border and created a gap between each image, used margin-bottom and margin-top to separate content sections, then created borders ect. */
        .link-section {
            display: flex;
            justify-content: center;
            text-align: center;
            gap: 20px;
            margin-bottom: 350px;
            margin-top: 80px;

            .blog-link {
                text-decoration: none;
                border: 10px solid $tertiary-color;
                border-radius: 4px; 
                background-color: $tertiary-color;
    
                p {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: bold;
                    color: $secondary-color;
                }
            }
        }
    /* stuck with flex display for the smaller wireframe */
        .blog-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
/
        .blog-post-section {
            justify-content: center;
            align-items: center;
            text-align: center; 
        }
    /* text component, adjusted colors and fonts on headings*/
        h2 {
            color: $primary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            align-self: center; 
        }

        h4 {
            color: $tertiary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    /* set borders and adjusted text size with font-size used text-align to center the text inside the border then added margin-left to further configure placing, also adjusted colors and fonts*/
        .blog-text {
            border: 3px solid $tertiary-color;
            border-radius: 4px;
            color: $secondary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 80%;
            width: 80%;
            text-align: center; 
            margin-left: 10px;
        }
  
        .blog-post {
            margin-bottom: 200px;
        }

        .blog-post-image {
            display: flex;
            justify-content: center;
    /* graphical component, set a max-width so the images wouldnt go over the display size on smartphones, created borders */       
            img {
                max-width: 85%;
                border: 10px solid $primary-color;
                border-radius: 4px;
            }
        }

        .blog-post-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }




