@import"../../index";

   /*graphical element, scroll bar adjusted using scrollbar then rounded using thumb, background is set using track */
   ::-webkit-scrollbar {
    height: 1rem;
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 6px;
    border-width: 2px;
}

::-webkit-scrollbar-track {
    background-color: $primary-background;
}

@media screen and (min-width: $large) {

    main {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(4, 25%);

/* text component, css grid used to create very basic grid layout for my 2 items, used align-items to postion my text at the start of the column */
        .contact-text {
            grid-column: 2;
            grid-row: 1;
            align-items: start;
            color: $secondary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
           

        }  
/* graphical component, pisitioned with css grid then used inline block, padding, border and width to create button shape, used justify-self to center, then customised colors and fonts, set and hover so the coour changes when someones mouse hovers over it which I adjusted using filter */    
        .button {
            grid-column: 2;
            grid-row: 3;
            display: inline-block;
            padding: 10px;
            justify-self: center;
            background-color: $secondary-color;
            border-radius: 10px;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: $primary-background;
            width: 200px;

            &:hover {
                filter: brightness(75%)
            }
        }
    }
}

@media screen and (max-width: $large) {
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
/* text component, used display flex and text-align to position text, adjusted margin to sparate from link and customised colors and fonts */
        .contact-text {
            text-align: center;
            color: $secondary-color;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 40px;
            max-width: 75%;
        }

        
/* graphical component, used inline block display, padding, border-radius, and width to set shape, then customised colors and text, set &:active so it changes color when someone touches it */
        .button {
            display: inline-block;
            padding: 10px;
            background-color: $secondary-color;
            border-radius: 10px;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            text-decoration: none;
            color: $primary-background;
            width: 200px;

            &:active {
                filter: brightness(75%);
            }
        }

        


        
    }
}

@media screen and (max-width: $small) {
    
    main {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;  
/* graphical component, adjusted button width to look better and be accessible on smaller devices. set & active to change the colour of the button when someone touches it */
        .button {
            width: 35%;

            &:active {
                filter: brightness(75%);
            }
        }
    }

    .contact-text {
        font-size: 80%;
    }
}