@media screen and (min-width: 991px) {
  /* used grid display for desktop screens, thought it to be accessable and a nice aethetic */
  header {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 0;
    min-width: 100vw;
  }
  /* graphical component, navigation links */
  #nav-items {
    margin-bottom: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 25px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #757270;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-around;
    align-items: end;
    /* text component, heading */
  }
  #nav-items a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #eab44b;
  }
  #nav-items a:hover {
    filter: brightness(75%);
  }
  h1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    text-align: center;
    max-width: 95%;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eab44b;
  }
  /* graphical component, site logo (acts as link to homepage)*/
  .logo-name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-content: center;
    z-index: 2;
  }
  .logo-name img:hover {
    filter: brightness(75%);
  }
  .background-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #757270;
    margin-bottom: 10px;
    z-index: 1;
  }
}
@media screen and (max-width: 991px) {
  /* switched to a flex display for smaller screens, the buttons are more appealing for tablets and smartphones and they're easy to see */
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* text component, heading */
    /* text component, nav links */
    /* graphical component, site logo (link to homepage) */
  }
  header h1 {
    font-size: 50px;
    max-width: 93%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eab44b;
    margin-top: 3px;
  }
  header .button {
    display: block;
    margin: 7px 0;
    padding: 10px;
    background-color: #eab44b;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #383636;
    width: 200px;
  }
  header .button:active {
    filter: brightness(75%);
  }
  header img {
    width: 290px;
  }
}
/* made minor adjustment to button and logo size to fit smartphones better */
@media screen and (max-width: 650px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    /* text component */
    /* graphical component */
    /* text component */
  }
  header h1 {
    font-size: 30px;
  }
  header img {
    width: 60%;
  }
  header .button {
    width: 80%;
  }
  header .button:active {
    filter: brightness(75%);
  }
}
/* I used a flex display to set my body dimensions and keep the footer section at the bottom of screens */
@media screen and (min-width: 991px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  main {
    flex: 1;
  }
  /* I used a grid display for larger screens so I could place social links and contaxct details side by side and have better control over their exact placement. */
  footer {
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 5% 45% 45%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #383636;
    grid-gap: 0;
    border: 0;
    margin-top: 25px;
    position: relative;
    margin-top: auto;
  }
  /* graphical component, social media links */
  .social-media {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
  }
  .social-media a {
    grid-column: 2/span 3;
  }
  .social-media a i {
    color: #eab44b;
    font-size: 35px;
  }
  .social-media a i:hover {
    filter: brightness(75%);
  }
  /* text component, contact information */
  .info {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    align-self: start;
    margin-bottom: 20px;
  }
  .info p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eab44b;
    text-align: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 991px) {
  footer {
    width: 100%;
    /*graphical component, social media links */
    /* for smaller screens I used a flex display for the footer, I thought itd be more clear to just have social links positioned above contact details */
    /*text component, contact information*/
  }
  footer .social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  footer .social-media a i {
    color: #eab44b;
    font-size: 45px;
  }
  footer .info p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eab44b;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  /* I decided to make some slight differences in icon and text sizes for improved visability when swithing between tablet and smartphone sizes */
  footer {
    /*graphical component, social media (not sure if we're meant to note all these tbh just putting in to be sure) */
  }
  footer .social-media a i {
    font-size: 30px;
  }
  /* text component, contact info */
  .info p {
    font-size: 80%;
  }
}
body {
  margin: 0;
  background-color: #383636;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*graphical element, scroll bar */
::-webkit-scrollbar {
  height: 1rem;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 6px;
  border-width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #383636;
}

@media screen and (min-width: 991px) {
  main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, 25%);
    /* text component, used css grid to position text underneath my heading to the right side of the display then adjusted font and colour */
  }
  main .home-text {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 300px;
    color: #eab44b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (max-width: 991px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    /* text component, text */
  }
  main .home-text {
    text-align: center;
    color: #eab44b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
    word-wrap: break-word;
    max-width: 75%;
  }
}
@media screen and (max-width: 650px) {
  .home-text {
    font-size: 80%;
  }
}
/*graphical element, scroll bar adjusted using scrollbar then rounded using thumb, background is set using track */
::-webkit-scrollbar {
  height: 1rem;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 6px;
  border-width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #383636;
}

@media screen and (min-width: 991px) {
  main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(4, 25%);
    /* text component, css grid used to create very basic grid layout for my 2 items, used align-items to postion my text at the start of the column */
    /* graphical component, pisitioned with css grid then used inline block, padding, border and width to create button shape, used justify-self to center, then customised colors and fonts, set and hover so the coour changes when someones mouse hovers over it which I adjusted using filter */
  }
  main .contact-text {
    grid-column: 2;
    grid-row: 1;
    align-items: start;
    color: #eab44b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  main .button {
    grid-column: 2;
    grid-row: 3;
    display: inline-block;
    padding: 10px;
    justify-self: center;
    align-self: center;
    background-color: #eab44b;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #383636;
    width: 200px;
  }
  main .button:hover {
    filter: brightness(75%);
  }
}
@media screen and (max-width: 991px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
    /* text component, used display flex and text-align to position text, adjusted margin to sparate from link and customised colors and fonts */
    /* graphical component, used inline block display, padding, border-radius, and width to set shape, then customised colors and text, set &:active so it changes color when someone touches it */
  }
  main .contact-text {
    text-align: center;
    color: #eab44b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
    max-width: 75%;
  }
  main .button {
    display: inline-block;
    padding: 10px;
    background-color: #eab44b;
    border-radius: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #383636;
    width: 200px;
  }
  main .button:active {
    filter: brightness(75%);
  }
}
@media screen and (max-width: 650px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* graphical component, adjusted button width to look better and be accessible on smaller devices. set & active to change the colour of the button when someone touches it */
  }
  main .button {
    width: 35%;
  }
  main .button:active {
    filter: brightness(75%);
  }
  .contact-text {
    font-size: 80%;
  }
}/*# sourceMappingURL=contact.css.map */