@import"../../index";


@media screen and (min-width: $large) {

    main {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 25% 25% 25% 25%;


        .custom-text {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            margin-bottom: 300px;
            color: $secondary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
           

        }   
    }
}

@media screen and (max-width: $large) {
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;


        .custom-text {
            text-align: center;
            color: $secondary-color;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 40px;
            word-wrap: break-word;
            max-width: 75%;
        }
    }
}