@import"../../index";

   /*graphical element, scroll bar */
   ::-webkit-scrollbar {
    height: 1rem;
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 6px;
    border-width: 2px;
}

::-webkit-scrollbar-track {
    background-color: $primary-background;
}

@media screen and (min-width: $large) {


    .grid-container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(3, auto);
        background-color: $primary-background;
    }

    .skills-section {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
/*text component, intro text */
    .skills-text {
        margin-top: 10px;
        color: $secondary-color;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: $primary-color;

    }
/* text component, skills list */
    li {
        color: $secondary-color;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        margin-bottom: 3px;
    }
    
    .additional-text {
        color: $secondary-color;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        word-wrap: break-word;
        max-width: 70%;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 10%;
    }
/* text component, resume download link */
    .download-link {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        max-width: 30%;
        text-align: center;
        color: $secondary-color;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        background-color: $primary-color;
        border: 3px solid #333;
        border-radius: 6px;
        margin-left: 27%;
        transition: background-color 0.3s;

    }

    .download-link:hover {
        filter: brightness(75%);
    }
}

@media screen and (max-width: $large) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 40px;
/* text component, intro */
        .skills-section {
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            word-wrap: break-word;
            max-width: 80%;
            h2 {
                color: $primary-color;
            }
            .skills-text {
                color: $secondary-color
            }
        }
/* text component, skills list */
        li {
            color: $secondary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-bottom: 10px;
        }

        .additional-text {
            color: $secondary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
            max-width: 80%;
            margin-top: 50px;
            margin-bottom: 20px;
            margin-left: 14%;
        }
/* text component, link to resume */
        .download-link {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            max-width: 30%;
            text-align: center;
            color: $secondary-color;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            background-color: $primary-color;
            border: 3px solid #333;
            border-radius: 6px;
            margin-left: 1%;
            transition: background-color 0.3s;
    
        }
    
        .download-link:hover {
            filter: brightness(75%);
        }
    }
}
@media screen and (max-width: $small) {

    .download-link {
        min-width: 100px;
    }

    .skills-text {
        font-size: 80%;
    }

    li {
        font-size: 85%;
    }

    .additional-text {
        font-size: 80%;
    }
}