@import "../defaults/colors";
@import "../defaults/breakpoints";




@media screen and (min-width: $large) {

/* used grid display for desktop screens, thought it to be accessable and a nice aethetic */

        header {
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 33% 33% 33%;
            grid-gap: 0;
            max-width: 100%;
        }
/* graphical component, navigation links */
        #nav-items {
            margin-bottom: 10px;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            font-size: 25px;
            padding: 5px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: $tertiary-color;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(0,1fr));
            justify-content: space-around;
            align-items: end;
                
                a{
                    font-family: Verdana, Geneva, Tahoma, sans-serif; 
                    font-weight: bold;
                    text-decoration: none;
                    color: $secondary-color;

                    &:hover {
                        filter: brightness(75%);
                    }
            

            }
             
    /* text component, heading */    
        }
        h1 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
            text-align: center;
            font-size: 60px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color: $secondary-color;
        }
    /* graphical component, site logo (acts as link to homepage)*/
        .logo-name {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 4;
            justify-content: center;
            z-index: 2;

            &:hover {
                filter: brightness(75%);
            }


            }

        .background-box {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            background-color: $tertiary-color;
            margin-bottom: 10px;
            z-index: 1;
        }
}

@media screen and (max-width: $large) {
    
        
    /* switched to a flex display for smaller screens, the buttons are more appealing for tablets and smartphones and they're easy to see */
        header {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    /* text component, heading */
            h1 {
                font-size: 50px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: $secondary-color;
                margin-top: 3px;
            }
    /* text component, nav links */
            .button {
                display: block;
                margin: 7px 0;
                padding: 10px;
                background-color: $secondary-color;
                border-radius: 10px;
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                text-decoration: none;
                color: $primary-background;
                width: 200px;

                &:active {
                    filter: brightness(75%);
                }

            }
    /* graphical component, site logo (link to homepage) */
            img {
                width: 290px;
            }

        }
    

}

/* made minor adjustment to button and logo size to fit smartphones better */
@media screen and (max-width: $medium) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    /* text component */
        h1 {
            font-size: 35px;
        }
    /* graphical component */
        img {
            width: 60%;
        }
    /* text component */
        .button {
            width: 80%;

            &:active {
                filter: brightness(75%);
            }
        }
    }
}







