<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T1A1-Portfolio-About</title>
    <link rel="stylesheet" type="text/css" href="../styles/pages/about.css">
    <!--graphical component, head logo-->
<link rel="icon" href="../Images\site-logo.png" type="image/png">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">

</head>
<body>
    <header>
    <!--graphical component, site logo (link to homepage)-->
        <div class="logo-name">
            <a href="../index.html">
                <img
                    src="../Images\site-logo.png"
                    alt="Website Logo"
                    />
            </a>
        </div>
    <!--text component, nav links with text using href put into the "nav-items" pseudo class-->
        <h1>About Me</h1>
                <nav id="nav-items">
                <a href="./skills.html" class="button">Skills</a>
            <a href="./blog.html" class="button">Blog</a>
            <a href="./contact.html" class="button">Contact</a>
        </nav>
            <div class="background-box"></div>
    </header>
    
    <main class="about-container">
    <!--graphical component, photo of myself using src to generate image-->
        <img class="home-photo" 
            src="../images/selfie.jpeg"
            alt="Photo of myself" />
        <img class="gym-photo"
            src="../images/gym-selfie.jpeg"
            alt="2nd Photo of myself" />
    <!--text component, about text with subheadings which are placed into the "about section" pseudo class for uniform styling-->
        <div class="about-section">
            <h2>Who am I?</h2>
            <div class="about-text">
                My name is Brett Russell. I'm 27 years old, and my personality type is INTJ. I was born and raised in regional Victoria before moving to Melbourne in 2018.
            </div>
        </div>
        <div class="about-section">
            <h2>Why choose web development?</h2>
            <div class="about-text">
                From a very young age, I've always found great fulfilment in learning new things. In particular, I tend to find that the more complex a subject becomes while i'm learning about it, the more fascinating it becomes to me. This fascination drives me to seek out and understand further complexities within it. I'm completely new to web and software development, having no prior experience in any IT-related field. However, I thoroughly enjoy learning about the way in which coding languages are constructed and how they interconnect to create the apps, websites and software we use daily. I also believe that this industry is ever evolving, and I'm excited by the prospect of being a part of its growth or, at the very least gain an insider's perspective on the advancement of the IT industry as it moves forward. 
            </div>
        </div>

        <div class="about-section">
            <h2>What are my interests?</h2>
            <div class="about-text">
                I have a few hobbies that keep me busy in my spare time. My favourite passion is music; I've been playing the guitar for over 16 years and dedicate alot of my free time to practicing and even writing my own songs. When im not doing that, I enjoy going to the gym most days, gaming, and wacthing movies and TV series. I'm also a big fan of anime and manga. A fun fact anout me that often surprises alot of people is that, as one of my hobbies, I used to make extra money as a professional poker player.
            </div>
        </div>
 </main>

    <footer>
    <!--graphical component, social media links using href which are placed into the <i> tag class to provide images-->
        <div class="social-media">
            <a href="https://twitter.com/BrettRussell96">
                <i class="fa-brands fa-square-twitter"></i>
            </a>
            <a href="https://github.com/Brett-Russell96">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/brett-russell-a52929299/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    <!--text component, contact info-->
        <div class="info">
            <p>Phone: 0422861355</p>
            <p>Email: brett.russell2016@gmail.com</p>
        </div>
    </footer>

</body>
</html>