<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T1A1-Portfolio-Skills</title>
    <link rel="stylesheet" href="../styles/pages/skills.css">
    <!--head logo-->
<link rel="icon" href="../Images\site-logo.png" type="image/png">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
</head>
<body>
<header>
    <!--text component, site logo, serves as link to home page-->
        <div class="logo-name">
            <a href="../index.html">
                <img
                    src="../Images\site-logo.png"
                    alt="Website Logo"
                    />
            </a>
        </div>
        <h1>My Skills and Experience</h1>
    <!--text component, nav items linked to other documents using href then put inside the nav-items class-->
        <nav id="nav-items">
            <a href="./about.html" class="button">About</a>
            <a href="./blog.html" class="button">Blog</a>
            <a href="./contact.html" class="button">Contact</a>
        </nav>
        <div class="background-box"></div>
    </header>
    <!--text component, grid-container class houses the contents for styling purposes, inside are my intro text, skills list and subheadings-->
    <main class="skills-container">
        <div class="skills-section">
            <h2>Experience</h2>
            <div class="skills-text">
                As far as experience goes, I am completely new to the IT industry. The entirety of my work experience comes from a hospitality backgrond, where I have been a table games dealer at Crown Melbourne for over 5 years. 
            </div>
        </div>
    <!--text component, skills list made using ul and li to create dot points-->
        <div class="skills-section">
            <h2>My Skills</h2>
            <ul>
                <li>Excellent professional communication</li>
                <li>A high level of customer service skills</li>
                <li>Ability in conflict resolution and de-escalation</li>
                <li>High attention to detail</li>
                <li>Very strong analytical and problem solving ability</li>
                <li>Competency in the use of HTML as well as CSS and SASS styling</li>
                <li>Competency with microsoft office including the use of excel spreadsheets</li>
                <li>Competency in using VS Code as well as linux based terminals</li>
                <li>Quick and solid mathematical skills</li>
                <li>The ability to work well both caloborating with a team or on solo projects</li>
                <li>High levels of professionalism and presentability</li>
            </ul>
        </div>
<!--tex/graphical component skills-section also houses the additional text component as well as the href to download my resume. graphical component is added more due to the styling required to turn the download-link class into a button on the display-->
        <div class="skills-section">
            <div class="additional-text">
                If you would like any additional information, please feel free to download a copy of my resume below.
            </div>
            <a href="../documents/brett-russell-resume.pdf"
               class="download-link">Download Resume</a>           
        </div>
        
        
    </main>

    <footer>
    <!--graphical component, social media links using href then placed into logo images using the <i> tag-->
        <div class="social-media">
            <a href="https://twitter.com/BrettRussell96">
                <i class="fa-brands fa-square-twitter"></i>
            </a>
            <a href="https://github.com/Brett-Russell96">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/brett-russell-a52929299/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    <!--fairly sure this isnt enough to be a text component? contact info (including to be thorough)-->
        <div class="info">
            <p>Phone: 0422861355</p>
            <p>Email: brett.russell2016@gmail.com</p>
        </div>
    </footer>

</body>
</html>

